:root {
  --unit: clamp(0.5rem, 1vw, 1rem);
  --minBaseFontSize: 1.5rem;
  --maxBaseFontSize: 3rem;
  --baseFontSize: clamp(var(--minBaseFontSize), 2.5vw, var(--maxBaseFontSize));
  --baseFontFamily: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Segoe UI', sans-serif;
  --pagePadding: calc(var(--unit) * 2);
}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--baseFontFamily);
  font-size: var(--baseFontSize);
  margin: unset;
  padding: var(--pagePadding);

  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-underline-position: under;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
}

ul {
  margin: unset;
}

.mainTitle {
  margin-top: 0;
}

.sectionTitle {
  margin-bottom: 0;
}
