:root {
  --unit: clamp(0.5rem, 1vw, 1rem);
  --minBaseFontSize: 1.5rem;
  --maxBaseFontSize: 3rem;
  --baseFontSize: clamp(var(--minBaseFontSize), 2.5vw, var(--maxBaseFontSize));
  --baseFontFamily: -apple-system, BlinkMacSystemFont, "Helvetica Neue",
    "Segoe UI", sans-serif;
  --pagePadding: var(--space-m);

  --space-s: var(--unit);
  --space-m: calc(var(--space-s) + var(--space-s));
  --space-l: calc(var(--space-s) + var(--space-m));
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  font-family: var(--baseFontFamily);
  font-size: var(--baseFontSize);
  margin: unset;
  padding: var(--pagePadding);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

ul {
  margin: unset;
}

.mt-s {
  margin-top: var(--space-s);
}
.mt-m {
  margin-top: var(--space-m);
}
.mt-l {
  margin-top: var(--space-l);
}

.mainHeader {
  display: grid;
  grid-template-columns: 1fr auto;
}

.mainTitle {
  margin-top: 0;
}

.mainHeaderLink {
  text-decoration: none;
}

.sectionTitle {
  margin-bottom: 0;
}

.linksListItem + .linksListItem {
  margin-top: var(--unit);
}

.aboutPicture {
  max-width: 1000px;
}
